{% extends 'rack/base.html' %}
{% load tags %}

{% block title %}
	"{{ object.title }}"
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<table style="width: 100%">
					{% for i in object.size|range_ %}
						{% index_ lst i as d %}
						{% index_ u i as unit %}
						<tr style="height: 10px">
							{% if unit %}
								<td style="width: 5%" rowspan="{{ unit.0 }}">{{ unit.1 }}</td>
							{% endif %}
							{% if d %}
								<td style="background: {{ d.color }}" rowspan="{{ d.length }}">
									{% if d.id %}
										<div class="col-lg-1 text-left">
											<button type="button" class="btn btn-warning btn-xs text-left bor"
													data-toggle="modal"
													data-target="#myModal2-{{ d.id }}">
												Заметки
											</button>
											{% get_note_form d %}
										</div>
									{% endif %}
									<div class="col-lg-6 text-center">
										{% if d.id %}
											<strong style="padding-left: 10px; padding-right: 10px; background-color:#c9c9c9; border-radius: 6px;">{{ d.title }}</strong>
										{% endif %}
									</div>
									<div class="col-lg-5 text-right">
										{% if d.id %}
											<a class="btn btn-success btn-xs bor"
											   href="{% url 'server_move' d.id 'up1' %}">^
												1</a>
											<a class="btn btn-success btn-xs bor"
											   href="{% url 'server_move' d.id 'up3' %}">^
												3</a>
											<a class="btn btn-danger btn-xs bor"
											   href="{% url 'server_move' d.id 'down1' %}">v 1</a>
											<a class="btn btn-danger btn-xs bor"
											   href="{% url 'server_move' d.id 'down3' %}">v 3</a>
											<a class="btn btn-success btn-xs bor"
											   href="{% url 'server_move' d.id 'up_max' %}">^max</a>
											<a class="btn btn-danger btn-xs bor"
											   href="{% url 'server_move' d.id 'down_max' %}">v max</a>
											<a class="btn btn-danger btn-xs bor"
											   href="{% url 'server_delete' d.id %}">x</a>

										{% endif %}
									</div>
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="col-lg-4">
				<button type="button" class="btn btn-primary btn-lg" onclick="get_server_form()">
					Добавить оборудование
				</button>
				<div id="form_server"></div>
			</div>
		</div>
	</div>

	<style>
		table, th, td {
			border: 1px solid black;
			text-align: center;
		}
		.bor {
			border-color: #0f0f0f;
		}
	</style>

	<script>
	function get_server_form() {
		let x = document.getElementById('form_server')
		x.innerHTML = `<form method="post" action="{% url 'server_create' object.pk %}">
						{% csrf_token %}
						<table style=''>
							{{ form_server.as_table }}
						</table>
						<button type="reset" class="btn btn-default" onclick="hidden_server_form()">Отменить</button>
						<button type="submit" class="btn btn-primary">Добавить</button>
					</form>`
	}
	function hidden_server_form() {
		let x = document.getElementById('form_server')
		x.innerHTML = ''
	}

	</script>

{% endblock %}