{% extends 'rack/base.html' %}

{% load static %}

{% block title %}
	rax
{% endblock %}

{% block content %}
	<div class="text"><img style="height: 7em" src="{% static 'rack/logo.png' %}" alt="logo"></div>
	<p>&nbsp;</p>
	<div class="list-group">
		{% for i in object_list %}
			<a href="{{ i.get_absolute_url }}" class="list-group-item">{{ i.title }}{% if i.note %}<code style="margin-left: 15px">{{ i.note|truncatechars_html:30 }}</code>{% endif %}</a>
		{% empty %}
			Стоек пока нет.
		{% endfor %}
	</div>
{% endblock %}
