{% extends 'rack/base.html' %}
{% load tags %}

{% block title %}
	{{ object.title }} (стойка) &mdash; rax
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-8 rack">
				<div class="scale">
					{% for number in scale %}
						<div class="scale__row">
							<div class="scale__row__unit">{{ number }}</div>
							<div class="scale__row__under-unit">
								<div class="scale__row__under-unit__item"></div>
								<div class="scale__row__under-unit__item"></div>
								<div class="scale__row__under-unit__item"></div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="rack-zone">
					{% for server in server_list %}
						<div class="server" style="background: {{ server.object.color }}; height: calc({{ size_match }}px * {{ server.object.length }}); top: calc({{ size_match }}px * {{ server.object.position }})">
							<div class="server__note-block">
								<button type="button" class="btn btn-primary btn-xs server__btn-control" data-toggle="modal" data-target="#myModal2-{{ server.object.pk }}">
									заметки
								</button>
							</div>

							<div class="server__title-block">
								<a href="{% url 'server_detail' pk=server.object.pk %}" class="server__title-block__name">
									{{ server.object.title }}
								</a>
								{% if server.object.note %}
									<div class="server__title-block__note">
											{{ server.object.note|urlize|truncatechars_html:30 }}
									</div>
								{% endif %}
							</div>
							<div class="server__control-block">
								<form class="form-move" id="server-move-{{ server.object.pk }}" method="post" action="{% url 'server_move' pk=server.object.pk %}">{% csrf_token %}{{ server.position_form }}</form>
								<form id="server_delete-{{ server.object.pk }}" method="post" action="{% url 'server_delete' pk=server.object.pk %}">{% csrf_token %}</form>
								<button class="btn btn-success btn-xs btn-border" form="server-move-{{ server.object.pk }}" type="submit" name="position" value="up1">&uarr; 1/3</button>
								<button class="btn btn-info btn-xs btn-border" form="server-move-{{ server.object.pk }}" type="submit" name="position" value="down1">&darr; 1/3</button>
								<button class="btn btn-success btn-xs btn-border" form="server-move-{{ server.object.pk }}" type="submit" name="position" value="up3">&uarr; U</button>
								<button class="btn btn-info btn-xs btn-border" form="server-move-{{ server.object.pk }}" type="submit" name="position" value="down3">&darr; U</button>
								<button class="btn btn-success btn-xs btn-border" form="server-move-{{ server.object.pk }}" type="submit" name="position" value="min">&uarr;max</button>
								<button class="btn btn-info btn-xs btn-border" form="server-move-{{ server.object.pk }}" type="submit" name="position" value="max">&darr;max</button>
								<button class="hidden server-mouse-move" form="server-move-{{ server.object.pk }}" type="submit" name="position" value=""></button>
								<button type="submit" class="btn btn-danger btn-xs btn-border" form="server_delete-{{ server.object.pk }}" onclick="return confirm('Вы уверены?')">&times;</button>
							</div>
						</div>
						<div class="modal fade" id="myModal2-{{ server.object.pk }}" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="myModalLabel">Заметки</h4>
									</div>
									<div class="modal-body">
										<form method="post" action="{% url 'server_note_create' server.object.pk %}">
											{% csrf_token %}
											{{ server.note_form.as_p }}
											<button type="submit" class="btn btn-primary">
												Сохранить
											</button>
											<button type="reset" class="btn btn-default" data-dismiss="modal">
												Отменить
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					{% for server in server_list_reverse_side %}
						<div class="server-reverse-side" style="height: calc({{ size_match }}px * {{ server.length }}); top: calc({{ size_match }}px * {{ server.position }})"></div>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-4 control">
				<div class="control-zone">
					<form id="rack-delete" method="post" action="{% url 'rack_delete' pk=object.pk %}">{% csrf_token %}</form>
					<div class="control-zona__title h3 text-center">{{ object.title }}</div>
					<div class="control-zona__side btn-group btn-group-justified">
						<div class="btn-group">
							<a type="button" class="btn btn-default" {% if not object.backside %} disabled="disabled" {% else %} href={% url 'rack_detail' pk=reverse_side.pk %} {% endif %}>Передняя сторона</a>
						</div>
						{% if not object.backside and not reverse_side %}
							<div class="btn-group">
								<a type="button" class="btn btn-link" href={% url 'rack_add_backside' pk=object.pk %}>Создать заднюю сторону</a>
							</div>
						{% else %}
							<div class="btn-group">
								<a type="button" class="btn btn-default" {% if object.backside %} disabled="disabled" {% else %} href={% url 'rack_detail' pk=reverse_side.pk %}{% endif %}>Задняя сторона</a>
							</div>
						{% endif %}
					</div>
					<button class="control-zona__btn btn btn-success" title="Изменить параметры стойки" onclick="showElement('form-server')">&plus; Добавить оборудование</button>
					<button class="control-zona__btn btn btn-default" title="Изменить параметры стойки" onclick="showElement('rack-update')">Свойства</button>
					<button form="rack-delete" type="submit" class="btn btn-danger" title="Удалить стойку" onclick="return confirm('{% if not object.backside %}Вы удаляете переднюю сторону. Задняя сторона также будет удалена.{% endif %} Вы уверены?')">&times; Удалить стойку</button>
					<div class="control-zona__note">
						{% if object.note %}
							<pre>{{ object.note|urlize }}</pre>
						{% endif %}
					</div>
					<div id="rack-update" class="control-zona__form hidden">
						<form method="post" action="{% url 'rack_update' pk=object.pk %}">
							{% csrf_token %}
							<table>{{ rack_update_form.as_table }}</table>
							<button type="submit" class="btn btn-primary">Применить</button>
							<button type="reset" class="btn btn-default" onclick="hideElement('rack-update')">Отменить</button>
						</form>
					</div>
					<div id="form-server" class="control-zona__form hidden">
						<form method="post" action="{% url 'server_create' pk=object.pk %}">
							{% csrf_token %}
							<table>{{ server_creation_form.as_table }}</table>
							<button type="submit" class="btn btn-primary">Добавить</button>
							<button type="reset" class="btn btn-default" onclick="hideElement('form-server')">Отменить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script_head %}
	<script>
	// document.addEventListener('mousedown', dragInitialHandler)

	function dragInitialHandler(event) {
		let item = event.target.closest('.server')
		if (!item) return

		let rackZona = document.querySelector('.rack-zone')
		let snap = {{ size_match }};
		let dragObj = {}

		if (!event.ctrlKey) return

		dragObj.item = item
		dragObj.btn_submit = item.querySelector('.server-mouse-move')
		dragObj.item.style.zIndex = '2'
		dragObj.startY = event.y
		dragObj.startTop = item.offsetTop

		document.addEventListener('mousemove', mouseMoveHandler)
		document.addEventListener('mouseup', mouseUpHandler)

		function mouseMoveHandler(event) {
			let diffY = event.y - dragObj.startY
			let offsetY = diffY % snap

			let value
			if (offsetY > snap / 2) value = dragObj.startTop + diffY + snap - offsetY
			else value = dragObj.startTop + diffY - offsetY

			if (value < 0) dragObj.item.style.top = 0 + 'px'
			else if (value > rackZona.offsetHeight - dragObj.item.offsetHeight) {
				dragObj.item.style.top = rackZona.offsetHeight - dragObj.item.offsetHeight + 'px'
			}
			else dragObj.item.style.top = value + 'px'
		}

		function mouseUpHandler(event) {
			document.removeEventListener('mousemove', mouseMoveHandler)
			document.removeEventListener('mouseup', mouseUpHandler)

			dragObj.item.style.zIndex = '1'
			dragObj.btn_submit.value = dragObj.item.offsetTop / {{ size_match }};
			dragObj.btn_submit.click()
		}
	}
	</script>
{% endblock %}
{% block style %}
	<style>
		.rack {
			display: flex;
			margin: 5px 0;
		}
		.scale {
			display: flex;
			width: 30px;
			flex-direction: column;
		}
		.scale__row {
			display: flex;
			justify-content: space-between;
			height: calc({{ size_match }}px * 3);
			border-bottom: 1px solid black;
		}
		.scale__row__unit {
			display: flex;
			align-items: center;
			font-weight: bold;
			font-style: italic;
		}
		.scale__row__under-unit {
			width: 10px;
		}
		.scale__row__under-unit__item {
			height: {{ size_match }}px;
			border-bottom: 1px solid black;
		}
		.rack-zone {
			position: relative;
			flex-grow: 1;
			outline: 1px solid black;
			height: calc({{ size_match }}px * {{ object.size }});
		}
		.server {
			display: flex;
			align-items: center;
			position: absolute;
			width: 100%;
			border: 0.05rem solid black;
			border-radius: 2px;
			z-index: 1;
		}
		.server__note-block {
			padding-left: 3px;
		}
		.server__title-block {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			align-items: center;
		}
		.server__title-block__name {
			padding: 0 10px;
			background: rgba(110, 110, 110, 0.5);
			border-radius: 5px;
			color: #eaeaea;
			font-weight: bold;
			font-size: 15px;
			line-height: 1;
		}
		.server__title-block__name:hover {
			color: #c9c9c9;
		}
		.server__title-block__note {
			width: max-content;
			background: rgba(199, 199, 199, 0.56);
			font-size: 10px;
			border-radius: 5px;
			padding: 0 10px;
			line-height: 1;
		}
		.server__control-block {
			padding-right: 3px;
		}
		.server-reverse-side {
			position: absolute;
			width: 100%;
			z-index: 0;
			background: repeating-linear-gradient(45deg, #e0e0e0, #d9d9d9 10px, #cecece 10px, #c5c5c5 20px);
		}
		.control-zone {
			display: flex;
			flex-direction: column;
			justify-items: stretch;
		}
		.control-zone > * {
			margin: 3px 0;
		}
		.control-zona__form {
			padding: 15px;
			background: rgba(213, 213, 213, 0.5);
			border-radius: 10px;
		}
		.control-zona__form table {
			border-collapse: separate;
			border-spacing: 0 5px;
		}
		.btn-border {
			border: 1px solid #0f0f0f;
		}
	</style>
{% endblock %}

