{% extends 'rack/base.html' %}
{% load tags %}

{% block title %}
	{{ object.title }} (оборудование) &mdash; rax
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form id="server_delete" method="post" action="{% url 'server_delete' pk=object.pk %}">{% csrf_token %}</form>
				<a type="button" class="btn btn-default" href="{% url 'rack_detail' object.rack.pk %}">
					&larr; Перейти к стойке
				</a>
				<a type="button" class="btn btn-default" href="{% url 'server_update' pk=object.pk %}">
					Изменить параметры оборудования
				</a>
				<button form="server_delete" type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены?')">
					&times; Удалить оборудование
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h1>{{ object.title }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div>
					<table class="server-description">
						<tr>
							<td>Размер (*1/3U):</td>
							<td>{{ object.length }}</td>
						</tr>
						<tr>
							<td>Портов:</td>
							<td>{{ ports|length }}</td>
						</tr>
						<tr>
							<td>Заметки:</td>
							<td>{{ object.note }}</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Тип порта по умолчанию:</td>
							<td>{{ object.base_material }}</td>
						</tr>
						<tr>
							<td>Скорость порта по умолчанию:</td>
							<td>{{ object.base_speed }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<table class="ports-list">
					<tr>
						{% for i in ports %}
							<td>
								<div>
									{% if i.port.material.lower == "оптика" %}
										<i style="font-size: 15.9px; color: {{ i.port.color }}" class="bi bi-thunderbolt-fill"></i>
									{% else %}
										<i style="font-size: 15.9px; color: {{ i.port.color }}" class="bi bi-ethernet"></i>
									{% endif %}
								</div>
								<div class="text-center" {% if not i.port.connection %}style="color: #bbbbbb"{% endif %}>
									<span>{{ forloop.counter }}</span>
								</div>
							</td>
						{% endfor %}
					</tr>
				</table>

			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<form id='del-port' method="post" action="{% url 'ports_delete' pk=object.pk %}">
					{% csrf_token %}
				</form>
				{% for i in ports %}
					<div>
						<table class="port-description">
							<tr>
								<td>
									<label for="port-{{ i.port.pk }}"></label>
									<input class='port-checkbox' form="del-port" type="checkbox" id="port-{{ i.port.pk }}" name="del-port" value="{{ i.port.pk }}">
								</td>

								<td>
									{% if i.port.material.lower == "оптика" %}
										<i style="font-size: 15.9px; color: {{ i.port.color }}" class="bi bi-thunderbolt-fill"></i>
									{% else %}
										<i style="font-size: 15.9px; color: {{ i.port.color }}" class="bi bi-ethernet"></i>
									{% endif %}
								</td>
								<td>
									<strong>
										Порт {{ forloop.counter }}:
									</strong>
									Скорость:
									<strong>{{ i.port.speed }}</strong>,
									Тип:
									<strong>{{ i.port.material }}</strong>
									<small>
										<button class="btn btn-link btn-xs" onclick="showElement('form-port-update-{{ i.port.pk }}')">Изменить</button>
									</small>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								{% if i.port.note %}
									<td>{{ i.port.note }}</td>
								{% endif %}
							</tr>
							<tr>
								<td></td>
								<td></td>
								{% if i.port.connection %}
									<td>Подключен к: {{ i.port.connection }}</td>
								{% endif %}

							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class='hidden' id="form-port-update-{{ i.port.pk }}">
									<form id="edit_port-{{ i.port.pk }}" method="post" action='{% url 'port_update' pk=i.port.pk %}'>
										{% csrf_token %}
										<table class="port-edit-form">{{ i.form.as_table }}</table>
										<div class="button-form">
											<button form="edit_port-{{ i.port.pk }}" type="submit" class="btn btn-primary">Применить</button>
											<button onclick="hideElement('form-port-update-{{ i.port.pk }}')" type="reset" class="btn btn-default">Отменить</button>
										</div>
									</form>
								</td>
							</tr>
						</table>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="button-group">
					<button
						type="button"
						class="btn btn-success"
						onclick="showElement('create-port')"
					>
						&plus; Добавить порты
					</button>
					<button
						type="submit"
						class="btn btn-warning"
						form="del-port"
						onclick="return confirm('Вы уверены?')"
					>
						&times; Удалить выбранные порты
					</button>
					<button
						type="submit"
						class="btn btn-danger"
						form="del-port"
						onclick="if (confirm('Вы уверены?')) selectAllPorts()"
					>
						&times; Удалить все порты
					</button>
					<p>&nbsp;</p>
				</div>

				<div id="create-port" class="hidden">
					<form method="post" action='{% url 'port_create' pk=object.pk %}'>
						{% csrf_token %}
						<table class="create-ports">
							{{ create_port_form.as_table }}
						</table>
						<div class="button-form">
							<button type="submit" class="btn btn-primary">Создать</button>
							<button onclick="hideElement('create-port')" type="reset" class="btn btn-default">Отменить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<style>
	.server-description {
		border-collapse: separate;
		border-spacing: 10px 2px;
	}

	.server-description td:first-child {
		font-size: medium;
		font-weight: bold;
	}

	.ports-list {
		border-collapse: separate;
		border-spacing: 5px;
	}

	#create-port {
		margin: 10px;
	}

	.create-ports {
		margin: 10px;
		padding: 10px;
		border-collapse: separate;
		border-spacing: 10px 2px;
		background: rgba(224, 243, 255, 0.35);
		border-radius: 10px;
	}

	.button-form {
		margin: 5px;
	}

	.port-description {
		border-collapse: separate;
		border-spacing: 10px 2px;
	}

	.port-edit-form {
		margin: 10px;
		padding: 10px;
		border-collapse: separate;
		border-spacing: 10px 2px;
		background: rgba(255, 224, 244, 0.35);
		border-radius: 10px;
	}

	.strong {
		font-weight: bold;
		font-size: large;
	}

	</style>
{% endblock %}
